/Group4/nbproject/private/
/Group4/Group4-war/nbproject/private/
/Group4/Group4-ejb/nbproject/private/
/Group4/Group4-ejb/build/
/Group4/Group4-ejb/dist/
/Group4/Group4-war/build/
/Group4/build/
/Group4/Group4-war/dist/
/Group4/dist/